{% extends 'emapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block main-content %}

<div class="container top-space-large ">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-light mt-2">
                <div class="curved-div text-center">
                    <p class="text-capitalize large"><b>Pay Via Bank Branch</b></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 price-div bg-blue">
                <h5 class="text-center"><b>6 month Plan (N1000)</b></h5>

            <p class="text-capitalize small">Get Full Access to features for 6 month</p>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 price-div bg-green">
                <h5 class="text-center"><b>1 Year Plan (N1700)</b></h5>

            <p class="text-capitalize small">Get Full Access to features for 1 Year</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 bg-light mt-4 p-3">
            <div class="bg-light">
                <p class="text-capitalize large"><b>Account Name:</b> Exammasters Enterprise</p>
                <p class="text-capitalize large"><b>Account Number:</b> 01466541134</p>
                <p class="text-capitalize large"><b>Bank Name:</b> Guaranty Trust Bank</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 bg-light mt-4 p-3">
            <div class="bg-light">
                <p class="text-capitalize large"><b>Account Name:</b> Exammasters Enterprise</p>
                <p class="text-capitalize large"><b>Account Number:</b> 3146333038</p>
                <p class="text-capitalize large"><b>Bank Name:</b> First Bank</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-light top-space">
            <div class="curved-div text-center">
                <h4 class="text-capitalize"><b>How to Activate Subscription After Making Payment</b></h4>
                <p class="text-capitalize small">Text your name, registered email address (on Exammaster.com), and amount paid to <b>08164036257</b></p>
                <p class="text-capitalize small">Your account will be activated in 20 minutes and you will get an SMS from Exammaster.com </p>
            </div>
        </div>

        </div>
    </div>


{% endblock main-content %}